a,button{
	cursor: pointer;
}

.row{
position: relative;
display: flex;
border: 1px solid black;
font-size: 2.7rem;
text-align: center;
margin: auto;
max-width: 100%;
}

.col-sm-2{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;

}

.col-sm-7{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	font-family: magenta medium;
}

.menu_button{
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 1rem;
	margin-top: 1.5rem ;
	margin-left: 1rem;

}

.bar1,.bar2,.bar3{
	
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: .9rem;
	background-color: black;
	margin: 1rem;

}




.nav-item{
	position: relative;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color:#dee0d5;
}

.nav-link{
	display: inline-block ;
	width: 130px;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #696959;
	text-decoration: none;
	font-family: caliber;
	font-weight: bold;

}
.nav-link:hover{
	color: #e67840;
	text-decoration: none;
}


.dropdown-item{
	position: relative;
	display: flex;
	display: block;
	width: 100%;
	height: 30px;
	background-color:white ;
	font-family: caliber;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #696959;
	text-decoration: none;
	font-weight: bold;

}
.dropdown-item:hover{
	text-decoration: none;
	color: #e67840 !important;
	background-color: #eef0e9 !important;

}

.menu_button{
	display: none;
}






@media all and (max-width: 1000px){ 

.nav-item{
	position: relative;
	display: flex;
	margin: auto;
	background-color:black;
	font-size: 30px;
	width: 100%;
}

.nav-link{
	display: inline-block ;
	height: 160px;
	width: 100%;
	display: flex;
	color: white;
	background-color: black!important;
	text-decoration: none;
	font-family: caliber;
	font-weight: bold;
	text-align: left;

}
.nav-link:hover{
	color: #e67840;
	text-decoration: none;
	background-color: black !important;
}

.dropdown-menu{
	background-color: black!important;
}

.dropdown-item{
	position: relative;
	display: flex;
	display: block;
	height: 85px;
	background-color:black ;
	color: #f0eded;
	font-size: 30px;
	font-family: caliber;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.dropdown-item:hover{
	text-decoration: none;
	color: #e67840;
	background-color: black !important;
}

.desktop_menu{
	display: none;
}

.menu_button{
	display: block;
}
.row{
	font-size: 2.5rem;
}
}
