a,button{
	cursor: pointer;
}

.row{
position: relative;
display: flex;
border: 1px solid black;
font-size: 3.8rem;
text-align: center;
margin: auto;
max-width: 100%;
}

.col-sm-2{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;

}

.col-sm-6{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	font-family: magenta medium;
}

.menu_button{
	position: relative;
	width: 6rem;
	height:6rem;
	cursor: pointer;

}

.bar1,.bar2,.bar3{
	
	justify-content: center;
	align-items: center;
	width: 7rem;
	height: 1.1rem;
	background-color: black;
	margin: 1rem;

}

.nav_bar{
	position: relative;
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color:#c9c6b9;
	display: none;
}

.nav_links{
	display: inline-block ;
	width: 130px;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #696959;
	text-decoration: none;
	font-family: caliber;
	font-weight: bold;

}
.nav_links:hover{
	color: #e67840;
	text-decoration: none;
}

.menu_item>a,.sub_menu_item>a{
	color: white;
}
.menu_item,.sub_menu_item{
	position : relative;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: black;
	color: white;
	border: 1px solid #615d51;
	cursor: pointer;
	padding-left: 15px;
}

.drop_btn{
	position : relative;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 20px;
	background-color: black;
	color: white;
	border: 1px solid #615d51;
	text-align: left;
	padding: 15px;
}

ul{
	list-style-type: none;

}
.fa-caret-down {
  float: right;
  padding-right: 20px;

}


